body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.normal {
  color: #323330 !important;
  background: #f5da55 !important;
}
.active {
  background: #323330 !important;
  color: #f5da55 !important;
}

::-webkit-scrollbar { 
  display: none; 
}